.footer{background: #000}
.footer div{color:#888}
.footer>div:first-child{
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 25px;
}
.footer>div:last-child{
    margin-top: 25px;
    padding-right: 100px;
}
.footer ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.footer li{
    list-style: none;
    margin-top: 20px;
}
.footer img{
    width: 50px;height: 50px;
}
/*小屏时内容靠左边*/
@media screen and (max-width: 768px){
    .footer>div:first-child{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer img{
        width: 40px;height: 40px;
    }
}